@model RobotModel

<figure><img src = @Model.Avatar></figure>
<h2>@Model.Name</h2>

<p><strong>Username: </strong>@Model.Username</p>
<p><strong>Phone: </strong>@Model.Phone</p>

@if(@Model.Job == null)
{
    <p style = "Color: Red">Available for Hire</p>
} else {
    <p><strong>Job:</strong> @Model.Job | Company: @Model.Company</p>
}

@if(@Model.Address["city"] == null)
{
<p><strong>Address: </strong>@Model.Address["street_num"] @Model.Address["street_name"] | <span>@Model.Address["country"]</span></p>
} else {
    <p><strong>Address: </strong>@Model.Address["street_num"] @Model.Address["street_name"] | @Model.Address["city"] | <span>@Model.Address["country"]</span></p>
}

@if(@Model.University != null)
{
    <p><strong>Education:</strong> @Model.University</p>    
}

@if(@Model.Skills != null)
{
    <p><strong>Skills: </strong>
    @foreach(var item in @Model.Skills)
    {
        <span>@item</span>
    }
    </p>
}

<a href = "/"> Back to Database </a>

    