@model RobotModel

<figure><img src = @Model.Avatar></figure>
<h2>@Model.Name</h2>

<p>Username: @Model.Username</p>

@if(@Model.Job == null)
{
    <p style = "Color: Red">Available for Hire</p>
} else {
    <p>Job: @Model.Job | Company: @Model.Company</p>
}

@if(@Model.Address["city"] == null)
{
<p>@Model.Address["street_num"] @Model.Address["street_name"] | <span>@Model.Address["country"]</span></p>
} else {
    <p>@Model.Address["street_num"] @Model.Address["street_name"] | @Model.Address["city"] | <span>@Model.Address["country"]</span></p>
}

<p>@Model.University</p>
<p>Skills: 
@foreach(var item in @Model.Skills)
{
    <span>@item</span>
}
</p>
<a href = "/"> Back to Database </a>

    