@{
    ViewData["Title"] = "Robots Directory";
}

<div class = "row">
    @model List<RobotModel>
    @foreach (var item in Model)
    {
        <div class = "col-xs-3">
            <img src = @item.Avatar>
            <a href = "/Profile?=@item.ID"><h4>@item.Name</h4></a>
            <p>
                <div>@item.Username</div>
                @if(@item.Job == null)
                {
                    <p style = "Color: Red">Available for Hire</p>
                } else {
                    <p>@item.Job</p>
                    <p>@item.Company</p>
                }
            </p>
        </div>
    }
</div>

    