@{
    ViewData["Title"] = "Robots Directory";
}

<div class = "row">
    @model List<RobotModel>
    @foreach (var item in Model)
    {
        <div class = "col-xs-4">
            <img src = @item.Avatar>
            <a href = "/Profile?=@item.ID"><h3>@item.Name</h3></a>
            <p>
                <div>@item.Username</div>
                @if(@item.Job == null)
                {
                    <p style = "Color: Red">Available for Hire</p>
                } else {
                    <p>@item.Job | @item.Company</p>
                }
            </p>
        </div>
    }
</div>

    